<hr class = 'nav-padding'/>
<div class = 'hero-carousel'>
  <%= render 'layouts/carousel'%>
</div>

<!-- Thoughts...
  An array of large pictures, all ending in _hero
  An array of other pictures
  This could wind up having the same look as the home page 
  Consider refactoring the home page to look this way
<%# render 'layouts/product_index' %>
-->

