<hr class = 'nav-padding'/>
<% if @cart.products.empty? %>
  <%= render 'empty'%>
<% else %>
  <div class = 'container-fluid'>
    <div class = 'row-fluid'>
      <div class = 'col-sm-10 product-summary-container'>
        <%= render 'products_summary' %>
      </div>
      <div class = 'col-sm-2 shopping-cart-summary text-center' data-spy="affix" data-offset-top="105" data-offset-bottom="200">
        <%= render 'cart_subtotal' %>
        <%= link_to 'Check Out', checkout_path, :shopping_cart => @cart, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
