/*--- Avanquest WebEasy Page Style ---*/


.cc110              { /* Common */
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	color           : #008080;
	}
.cc111              { /* Common */
	font            : 6pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	border          :   0.75pt solid #ff9933;
	}
.cc112              { /* Common */
	border          :   0.00pt none #0080c0;
	clip            : rect(0.00pt,251.25pt,0.75pt,0.00pt);
	}
.cc113              { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
.cc114              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #008080;
	}
.cc115              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
.cc116              { /* Common */
	border          :   0.00pt none #0080c0;
	clip            : rect(0.00pt,537.00pt,0.75pt,0.00pt);
	}
.cc117              { /* Common */
	border          :   0.00pt none #ff0000;
	}
.cc118              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   2.25pt double #ff8040;
	}
.cc119              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   1.50pt solid #ff8000;
	}
.cc120              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #008000;
	border          :   1.50pt solid #ff8000;
	}
.cc121              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   2.25pt double #ff6633;
	}
div#e32             { /* ADVENTUREGLASS \ */
	background      : transparent url(advglasshome14010009.jpg) no-repeat top left;
	position        : absolute;
	left            : 138.00pt;
	top             :   6.75pt;
	width           : 342.00pt;
	height          :  37.50pt;
	}
span#e31            { /* advglasshome14001005.gif */
	background      : transparent url(advglasshome14001005.gif) no-repeat top left;
	position        : absolute;
	left            :  71.25pt;
	top             :   5.25pt;
	width           :  71.25pt;
	height          :  42.00pt;
	}
span#e30            { /* advglasshome14001004.gif */
	background      : transparent url(advglasshome14001004.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :   9.00pt;
	width           :  63.75pt;
	height          :  23.25pt;
	}
div#e29             { /* Home of: The Swan Paddle... */
	position        : absolute;
	left            :   5.25pt;
	top             :  48.75pt;
	width           : 691.50pt;
	height          :  22.50pt;
	}
div#e28             { /* <SPAN class="SC150568340... */
	background-color: #9dffb6;
	position        : absolute;
	left            :   7.50pt;
	top             :  89.25pt;
	width           : 708.00pt;
	height          :  33.00pt;
	}
span#e27            { /* advglasshome14010008.gif */
	background      : transparent url(advglasshome14010008.gif) no-repeat top left;
	position        : absolute;
	left            : 133.50pt;
	top             :  75.00pt;
	width           : 251.25pt;
	height          :   0.75pt;
	}
div#e26             { /* Copyright © 2014 ADVENTU... */
	position        : absolute;
	left            : 255.00pt;
	top             :2122.50pt;
	width           : 150.00pt;
	height          :  12.75pt;
	}
div#e25             { /* <DIV><FONT color="#00800... */
	position        : absolute;
	left            :  82.50pt;
	top             :2070.00pt;
	width           : 158.25pt;
	height          :  53.25pt;
	}
div#e24             { /* <DIV><FONT color="#00800... */
	position        : absolute;
	left            : 240.00pt;
	top             :2070.00pt;
	width           : 109.50pt;
	height          :  39.75pt;
	}
div#e23             { /* <TABLE style="WIDTH: 98p... */
	position        : absolute;
	left            :  13.50pt;
	top             : 160.50pt;
	width           :  73.50pt;
	height          : 267.75pt;
	}
span#e22            { /* advglasshome14010007.gif */
	background      : transparent url(advglasshome14010007.gif) no-repeat top left;
	position        : absolute;
	left            : 137.25pt;
	top             : 141.75pt;
	width           : 537.00pt;
	height          :   0.75pt;
	}
div#e21             { /* PINK FLAMINGO PADDLEBOAT... */
	background      : #ffff00 url(advglasshome14010006.jpg) no-repeat top left;
	position        : absolute;
	left            : 128.25pt;
	top             : 192.75pt;
	width           : 597.75pt;
	height          :  46.50pt;
	}
div#e20             { /* <DIV align="center"><FON... */
	background-color: #ffffff;
	position        : absolute;
	left            : 106.50pt;
	top             : 249.75pt;
	width           : 635.25pt;
	height          :  18.00pt;
	}
div#e19             { /* <DIV align="center"><FON... */
	background-color: #ffffff;
	position        : absolute;
	left            : 442.50pt;
	top             :1101.75pt;
	width           : 264.75pt;
	height          :  81.00pt;
	}
div#e18             { /* <UL>  \<LI><FONT color="... */
	background-color: #ffffff;
	position        : absolute;
	left            : 262.50pt;
	top             : 840.00pt;
	width           : 130.50pt;
	height          : 177.75pt;
	}
div#e17             { /* <P style="TEXT-ALIGN: ce... */
	background-color: #ffffff;
	position        : absolute;
	left            :  15.00pt;
	top             : 450.00pt;
	width           : 126.00pt;
	height          :  95.25pt;
	}
span#e16            { /* seawfountainweb.jpg */
	background      : transparent url(seawfountainweb.jpg) no-repeat top left;
	position        : absolute;
	left            : 195.00pt;
	top             : 285.00pt;
	width           : 450.00pt;
	height          : 258.75pt;
	}
span#e15            { /* flamingoweblakecropped.j... */
	background      : transparent url(flamingoweblakecropped.jpg) no-repeat top left;
	position        : absolute;
	left            : 112.50pt;
	top             : 585.00pt;
	width           : 330.00pt;
	height          : 246.00pt;
	}
span#e14            { /* seawclose.jpg */
	background      : transparent url(seawclose.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.75pt;
	top             : 843.75pt;
	width           : 240.00pt;
	height          : 159.75pt;
	}
span#e13            { /* flamwingsgrvistacharles.... */
	background      : transparent url(flamwingsgrvistacharles.jpg) no-repeat top left;
	position        : absolute;
	left            : 397.50pt;
	top             :1200.00pt;
	width           : 330.00pt;
	height          : 259.50pt;
	}
span#e12            { /* seaworldtowercropped.jpg */
	background      : transparent url(seaworldtowercropped.jpg) no-repeat top left;
	position        : absolute;
	left            : 411.00pt;
	top             : 873.75pt;
	width           : 330.00pt;
	height          : 218.25pt;
	}
div#e11             { /* <DIV align="center"><FON... */
	background-color: #ffffff;
	position        : absolute;
	left            : 412.50pt;
	top             :1470.00pt;
	width           : 315.00pt;
	height          :  16.50pt;
	}
div#e10             { /* The Pink Flamingo looks ... */
	background-color: #ffffff;
	position        : absolute;
	left            : 157.50pt;
	top             : 555.00pt;
	width           : 510.75pt;
	height          :  15.00pt;
	}
div#e9              { /* <DIV align="center"><FON... */
	background-color: #ffffff;
	position        : absolute;
	left            :  30.00pt;
	top             :1027.50pt;
	width           : 350.25pt;
	height          : 185.25pt;
	}
div#e8              { /* <DIV align="center"><FON... */
	background-color: #ffffff;
	position        : absolute;
	left            : 487.50pt;
	top             : 600.00pt;
	width           : 245.25pt;
	height          : 230.25pt;
	}
span#e7             { /* advglasshome14010005.jpg */
	background      : transparent url(advglasshome14010005.jpg) no-repeat top left;
	position        : absolute;
	left            :  15.00pt;
	top             :1222.50pt;
	width           : 379.50pt;
	height          : 266.25pt;
	}
span#e6             { /* advglasshome14010004.jpg */
	background      : transparent url(advglasshome14010004.jpg) no-repeat top left;
	position        : absolute;
	left            :   7.50pt;
	top             :1500.00pt;
	width           : 435.00pt;
	height          : 396.75pt;
	}
span#e5             { /* advglasshome14003004.jpg */
	background      : transparent url(advglasshome14003004.jpg) no-repeat top left;
	position        : absolute;
	left            : 480.00pt;
	top             :1650.00pt;
	width           : 237.75pt;
	height          : 125.25pt;
	}
div#e4              { /* The Adventureglass Paddl... */
	background      : #ffff00 url(advglasshome14010003.jpg) no-repeat top left;
	position        : absolute;
	left            : 114.75pt;
	top             :1982.25pt;
	width           : 224.25pt;
	height          :  54.75pt;
	}
span#e3             { /* advglasshome14010002.jpg */
	background      : transparent url(advglasshome14010002.jpg) no-repeat top left;
	position        : absolute;
	left            : 487.50pt;
	top             :1777.50pt;
	width           : 220.50pt;
	height          : 149.25pt;
	}
span#e2             { /* advglasshome14010001.jpg */
	background      : transparent url(advglasshome14010001.jpg) no-repeat top left;
	position        : absolute;
	left            : 487.50pt;
	top             :1935.00pt;
	width           : 210.75pt;
	height          : 231.75pt;
	}
div#e1              { /* <DIV align="center"><FON... */
	background-color: #ffffff;
	position        : absolute;
	left            : 450.00pt;
	top             :1507.50pt;
	width           : 281.25pt;
	height          : 131.25pt;
	}
body#page           { /* Page Body */
	background-color: #d7ffff;
	background-image: url(advglasshome14010b01.jpg);
	}



/*--- EndOfFile ---*/
