<%= render 'home/carousel' %>
<div class = 'text-center' >
  <h2> Proudly Made in the United States </h2>
  <p class='secondary'> Handcrafted in North Webster, IN </p>
</div>
<div class = 'container gallery-container'>
  <div class = 'row'>
    <div class = 'col-sm-4'>
      <a href = 'gallery/boats' class = 'gallery-link'>
        <div class = 'gallery-option text-center'>
          <%= image_tag 'flamingos/brothers_front.jpg' %>
          <div class = 'gallery-option-description'>
            <p class = 'text-center'> Boats </p>
          </div>
        </div>
      </a>
    </div>
    <div class = 'col-sm-4'>
      <a href = '#' class = 'gallery-link'>
        <div class = 'gallery-option'>
          <%= image_tag 'docks/dock_0.png' %>
          <div class = 'gallery-option-description'>
            <p class = 'text-center'> Docks</p>
          </div>
        </div>
      </a>
    </div>
    <div class = 'col-sm-4'>
      <a href = '#' class = 'gallery-link'>
        <div class = 'gallery-option'>
          <%= image_tag 'handiboats/handi_boat_inside.jpg' %>
          <div class = 'gallery-option-description'>
            <p class = 'text-center'> Parts </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
