<!-- put the adv glass logo up here -->
<h2> Hello <%= full_name %> </h2>
Thank you for your recent purchase with Adventure Glass. You a total of <%= total_item_count %> items. Adventure Glass will be in contact with you
shortly.<!-- TODO: how short is shortly? -->
Your order is summarized below.

<hr />

<h2> Order Summary </h2>

<% items.each_with_index do |item, index| %>

<% end %>
Adventure Glass, Inc.
<span><a href='tel:574-834-2554' class = 'fa fa-phone'> 574-834-2554 </a> | </span>
<span class = 'fa fa-envelope'> <a href="mailto:info@advboat.com" > info@advboat.com</a></span>
