.carousel-control span.fa{
  position:relative;
  top: 20vw;
  border-radius: 30px;
  background-color: red;
  border-bottom: 5px solid;
  border-top: 8px solid;
  border-left: 10px solid;
  border-right: 9px solid;
  border-color: red;
}
