$gallery-picture-width: 550px;
.gallery-link{
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

.gallery-option{
  img{
    height: 33vw;
    width: 100%;
    min-height: 500px;
  }
  overflow:hidden;
  @media (min-width: 1200px){
    opacity: 0.9;
  }
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  .gallery-option-description{
    background-color: #DDDDDD;
    font-size: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 15px;
    padding-bottom: 1px;
  }
  padding-bottom: 15px;
  max-width: $gallery-picture-width;
  @media (min-width: $gallery-picture-width) and (max-width:768px){
    position: relative;
    left: 50%;
    margin-left: -$gallery-picture-width/2;
  }
  &:hover{
    opacity: 1;
  }

}

.container.gallery-container{
  @media (min-width: 768px) and (max-width:1199px){
    width: 95%;
  }
}
