.product-display .image-active img{
  max-height: 30vw;
}

img.thumbnail-active{
  border: 1px solid red;
}

.product-persistence{
  border: 3px solid #dddddd;
  border-radius: 9px;
  padding: 10px;
  a{
    width: 100%;
  }
  hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.delete-picture{
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
  position: absolute;
  z-index: 1;
  padding: 0;
  border-radius: 13px;
  top: 0px;
  right: 0px;
  height: 17px;
  line-height: 0;
}

.edit_boat{
  position:relative;
}

.fileupload-mask{
  img{
    width: 100%;
  }
  z-index: -1;

}

input#fileupload{
  opacity: 0;
  margin-bottom: -70px;
  z-index: 1;
  height: 70px;
  width: 100%;
  cursor: pointer;
}

.product-price{
  font-size: 17px;
}
