.dataTables_filter{
  text-align: right;
  label input{
    border-radius: 4px;
    padding-left: 5px;
    &:focus{
      outline: none;
    }
  }
}

table.dataTable > tbody {
  a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #25285C;
    font-weight: 600;
  }
  & > tr{
    background-image: linear-gradient(to bottom, #7CDCFF 0, #1E92C5 100%);
    &:hover{
      background-image:linear-gradient(to bottom, #7CDCFF 0, #7CDCFF 100%);
    }
  }
}
