.empty-shopping-cart {
  background-size: 100%;
  height: 80vh;
  margin-bottom: -15px;
  padding-top: 20vh;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  @media(min-width: 992px){
    font-size: 10em;
  }
  @media(max-width: 991px) and (min-width: 768px){
    font-size: 10em;
  }
  @media(max-width: 767px){
    font-size: 5em;
  }
  &.pic_1{
    background-image: image-url('empty_1.jpeg');
  }
  &.pic_2{
    background-image: image-url('empty_2.jpeg');
  }
  &.pic_3{
    background-image: image-url('empty_3.jpeg');
    color: rgb(123, 38, 52);
  }
  &.pic_4{
    background-image: image-url('empty_4.jpeg');
    color: rgb(123, 38, 52);
  }
  &.pic_5{
    background-image: image-url('empty_5.jpeg');
    color: #79614F;
  }
}

.cart-product-title{
  a{
    font-size: 25px;
  }
}

.affix, .affix-top{
  a{
    width: 100%
  }
}

.affix{
  right: 12px;
  top: 72px;
}

.product-summary-container{
  padding-left: 13%;
}
.product-summary{
  padding-top: 10px;
  color: #2a6496;
  select{
    color: black;
    background-color: gainsboro;
  }
}

.shopping-cart-summary{
  border-radius: 5px;
  border: 3px solid #cccccc;
  padding-bottom: 10px;
  margin-top: 10px;
}
