body{
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 38px;
  font-weight: 700;
}

.secondary{
  color: #666666;
  font-weight:200;
}

.hero{
  h1{
    font-size: 53px;
  }
}

h3{
  color: rgb(18, 37, 76);
}

.hero{
  color: #0E3076;
  font-size: 28px;
}

.container{
  @media(min-width: 1500px){
    width: 80%;
  }
}

@media(max-width: 767px){
  nav.navbar-default{
    padding: 0px;
  }
}
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.gray-field{
  padding-top: 15px;
  background-color: #f3f3f3;
  padding-bottom: 15px;
  margin-bottom: -15px;
}

.required{
  &:after{
    content: "\f05c";
    font-family: FontAwesome;
    color: red;
    font-size: 7px;
    font-weight: 100;
    position: absolute;
    top: 4px;
  }
}

.sm-bottom-padding{
  padding-bottom: 5px;
}

.full-width{
  width: 100%;
}
