  .carousel-inner .active.left {
    left: -33.33333%;
  }
  .carousel-inner .next {
    left: 33.33333%;
  }

@media (max-width: 768px){
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
}
@media (min-width: 1200px){
  .carousel-inner .active.left {
    left: -16.667%;
  }
  .carousel-inner .next {
    left: 16.667%;
  }
}

.hero-carousel{
  .carousel-inner .active.left {
    left: 0%;
    -webkit-transition: all 0.2s ease-in-out;
  }
  .carousel-inner .next {
    left: 100%;
    -webkit-transition: all 0.2s ease-in-out;
  }
  &.landing{
    position: relative;
    z-index: -1;
    @media(max-width: 991px) and (min-width: 768px){
      img{
        opacity: 0.6;
      }
    }
  }
}



.carousel-control {
  top: 40%;
  width: 4%;
}
.carousel-control.left,.carousel-control.right {
  margin-left:15px;
  background-image:none;
}

.paddleboat-container .carousel-control{
  padding: 38px 18px;
  opacity: 1;
  background-color: #808080;
  margin: -55px -30px 45px -31px;
  @media(max-width: 1199px) and (min-width: 992px){
    &.right, &.left{
      margin: -178px -30px 45px -31px;
      padding: 194px 0px;
    }
  }
  @media(max-width: 991px) and (min-width: 768px){
    &.right, &.left{
      margin: -139px -30px 45px -31px;
      padding: 140px 7px;
    }
  }
  @media(max-width: 767px){
    &.right, &.left{
      margin: -41vw -30px 42px -30px;
      padding: 46vw 20px;
    }
  }
  &:focus{
    opacity: 1;
    &:hover{
      opacity: 0.9;
    }
  }
}
