<div class = 'container-fluid'>
  <div class = 'row text-center footer'>
    <div class = 'col-xs-12'>
      <span><a href='tel:574-834-2554' class = 'fa fa-phone'> 574-834-2554 </a> | </span>
      <span class = 'fa fa-envelope'> <a href="mailto:info@advboat.com" > info@advboat.com</a></span>
      <hr />
      <span> Website by <a href = 'https://www.linkedin.com/profile/view?id=278619359&trk=nav_responsive_tab_profile'>Daniel Schepers</a></span>
    </div>
  </div>
</div>
