<nav class='navbar navbar-default'>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-xs-2'>
      <a class = 'navbar-brand' href = '#' ><%= image_tag 'advglasshome.gif' %></a>
    </div>
      <ul class = 'nav navbar-nav navbar-right list-unstyled'>

        <li class = 'hidden-xs hidden-sm'>
          <a class="dropdown hover" aria-expanded="false">
            BOATS
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem"  href="#">Paddleboats</a></li>
            <li role="presentation"><a role="menuitem"  href="#">Canoes</a></li>
            <li role="presentation"><a role="menuitem"  href="#">Barges</a></li>
          </ul>
        </li>

        <li class = 'hidden-xs hidden-sm'>
          <a class="dropdown hover" aria-expanded="false">
            EXTRAS
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem"  href="#">Boat Parts</a></li>
            <li role="presentation"><a role="menuitem"  href="#">Docks</a></li>
            <li role="presentation"><a role="menuitem"  href="#">Lifts</a></li>
          </ul>
        </li>

        <li class= 'hidden-xs hidden-sm'>
          <a class="dropdown hover" aria-expanded="false">
            ORDER
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem"  href="/boats/build">Boats</a></li>
            <li role="presentation"><a role="menuitem"  href="#">Accessories</a></li>
          </ul>
        </li>


        <li class = 'visible-xs-inline-block visible-sm-inline-block bars'>
        <a class = 'btn btn-default dropdown-toggle bars' data-toggle='dropdown' href = '#'><span class = 'fa fa-bars fa-3x'></span> </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Boats</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Extras</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Order</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cart</a></li>
        </ul>
        </li>

        <li class = 'hidden-xs hidden-sm'>
        <a href = '#' ><span class = 'fa fa-shopping-cart'></span> Cart </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>
